.footer {
    text-align: center;
    /* padding: 20px; */
    background: #222;
    color: white;
    font-size: 14px;
    /* display: flex; */
    margin-top: auto;
    /* max-width: 100%;
    overflow: hidden; */
  }